#totalPostsContainer {
    display: grid;
    margin: 20px;
    grid-gap: 10px;
}

.postContainer {
    background-color: white;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.postContainer:hover,
.postDivLink:active,
.postDivLink:focus {
    transform: scale(1.1);
    cursor: pointer;
    outline: 0;
    box-shadow: 2px 4px #0000003f;
}

.postInfoContainer {
    padding: 1%;
}

.postDivLink {
    text-decoration: none;
    color: black;
    border: none;
}

.postCompanyName {
    font-size: 26px;
    margin: 0;
}

.postPosition {
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
}

.postedDate {
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    color: var(--base-blue);
}

.postImage {
    width: 20%;
}

#noDataMessage {
    color: red;
    font-size: 18px;
}

@media screen and (min-width: 750px) {
    #totalPostsContainer {
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }

    .postCompanyName {
        font-size: 28px;
    }

    .postPosition {
        font-size: 24px;
    }
}
