#totalPostsContainer {
    display: grid;
    margin: 20px;
    grid-gap: 10px;
}

.postContainer {
    background-color: white;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.postContainer:hover,
.postDivLink:active,
.postDivLink:focus {
    transform: scale(1.1);
    cursor: pointer;
    outline: 0;
    box-shadow: 2px 4px #0000003f;
}

.postInfoContainer {
    padding: 1%;
}

.postDivLink {
    text-decoration: none;
    color: black;
    border: none;
}

.postCompanyName {
    font-size: 26px;
    margin: 0;
}

.postPosition {
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
}

.postedDate {
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    color: var(--base-blue);
}

#imageContainer {
    width: 25%;
    height: 140px;
    padding: 1%;
}

.postImage {
    width: 100%;
}

#noDataMessage {
    color: red;
    font-size: 18px;
}

@media screen and (min-width: 750px) {
    #totalPostsContainer {
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }

    .postCompanyName {
        font-size: 28px;
    }

    .postPosition {
        font-size: 24px;
    }
}

#selectionContainer {
    text-align: center;
    margin-top: 15px;
}

#searchBar {
    font-size: 22px;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid gray;
}

#filterSelect {
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--base-blue);
    padding: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

#filterSelect:hover {
    cursor: pointer;
}
