.portContainer {
    background-color: white;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2%;
    width: 60%;
}

.containerHeader {
    color: var(--base-faded-black);
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    font-size: 25px;
}

.linkContainer {
    display: flex;
    justify-content: space-around;
}

.containerLinkBtn {
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    background-color: var(--base-blue);
    color: white;
}

.containerLinkBtn:hover {
    background-color: var(--base-light-blue);
    color: var(--base-faded-black);
}
