:root {
    --base-brown: #3b1b0c;
    --base-blue: #65849d;
    --base-light-blue: #d1d3df;
    --base-faded-black: rgb(66, 66, 66);
    --base-grey: rgb(184, 184, 184);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--base-light-blue);
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--base-brown);
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    color: var(--base-light-blue);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:active,
.nav-link:focus {
    outline: 0;
    border: none;
    outline-style: none;
}

.nav-link:hover {
    color: white;
}

.bccaClassImg {
    max-width: 100%;

    height: auto;
}

#headerBkgImg {
    max-width: 100%;
    background-image: url("/images/bcca_background.jpg");
    background-position: center;
    height: 132px;
}

#headerImg {
    vertical-align: middle;
    width: 275px;
}

.center-spacer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fill {
    text-align: center;
}
