#formContainer {
    background-color: white;
    border-radius: 5px;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 1.2%;
    width: 75%;
}

#formContainer p {
    color: var(--base-faded-black);
    margin: 0;
    font-size: 26px;
}

.inputContainer {
    margin-bottom: 25px;
}

#formContainer input {
    border: none;
    border-bottom: 1px solid var(--base-grey);
    font-size: 24px;
    margin-top: 5px;
    width: 100%;
}

#formSubmitBtn {
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--base-blue);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#formSubmitBtn:hover {
    background-color: #2f506b;
    cursor: pointer;
    transform: scale(1.1);
}

#headerBkgImg {
    max-width: 100%;
    background-image: url("/images/bcca_background.jpg");
    background-position: center;
    height: 132px;
    z-index: -1;
}
