#postDetailContainer {
    margin: 2%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
}

.postHeaderContainer {
    display: flex;
}

#postDetailContainer img {
    width: 75px;
}

#companyName {
    font-size: 40px;
    margin: 0;
    padding: 2%;
}

.postContactContainer {
    padding: 1%;
}

.postContactContainer p {
    margin: 0;
    padding-top: 5px;
}

#positionName {
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
}

.positionParaContainer {
    padding: 1%;
}

.paraTitle {
    font-size: 22px;
    margin: 0;
}

.paraBody {
    margin: 0;
    padding: 1%;
}

#commentModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#commentModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
