.totalCommentsContainer {
    overflow: scroll;
    height: 675px;
}

.commentContainer {
    margin: 2%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 70%;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

#comment {
    font-size: 21px;
    margin: 0;
    margin-bottom: 5px;
}

#name {
    font-size: 16px;
    text-align: right;
    margin: 0;
    margin-bottom: 4px;
}

#date {
    font-size: 16px;
    text-align: right;
    margin: 0;
}

#addCommentButton {
    border: none;
    background: var(--base-light-blue);
    color: var(--base-blue);
    font-size: 25px;
    margin: 10px;
}

#addCommentButton:hover {
    color: white;
    cursor: pointer;
}

#commentModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#commentModal input {
    border: none;
    border-bottom: 1px solid var(--base-grey);
    font-size: 24px;
    margin-bottom: 25px;
    width: 100%;
}

#commentModal button {
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--base-blue);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#commentModal button:hover {
    background-color: #2f506b;
    cursor: pointer;
    transform: scale(1.1);
}

#commentModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#noCommentsMessage {
    color: red;
    font-size: 20px;
}

#formSubmitBtn {
    margin-bottom: 10px;
}

#commentDeleteButton {
    border: none;
    background: white;
    font-size: 18px;
    color: red;
}

#commentDeleteButton:hover {
    color: rgb(241, 65, 65);
    cursor: pointer;
}
