<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Comments</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./../../../css/main.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./../../../css/post_comments_page.css"
        />
    </head>
    <body>
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link" href="/admin/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" onclick="history.back()">Back</a>
            </li>
        </ul>
        <button id="addCommentButton">+ Click To Add Comment</button>
        <div id="commentModal">
            <div id="commentModalContent">
                <form method="POST" action="/admin/posts/{{ id }}">
                    <div class="inputContainer">
                        <p>Your Name:</p>
                        <input
                            id="nameInput"
                            type="text"
                            name="admin_name"
                            required
                        />
                    </div>
                    <div class="inputContainer">
                        <p>Your Comment:</p>
                        <input
                            id="commentInput"
                            type="text"
                            name="comment"
                            required
                        />
                    </div>
                    <button id="formSubmitBtn" type="submit">
                        Submit
                    </button>
                </form>
                <button id="formCancelButton">
                    Cancel
                </button>
            </div>
        </div>
        <div class="totalCommentsContainer">
            {{#comments}}
            <div class="commentContainer">
                <p id="comment">{{ comment }}</p>
                <p id="name">By: {{ admin_name }}</p>
                <p id="date">Posted: {{ posted_date }}</p>
                <form
                    id="deleteCommentForm"
                    onsubmit="event.preventDefault();"
                    method="POST"
                    action="/admin/posts/{{ post_id }}/comments/{{ id }}/delete"
                >
                    <button id="commentDeleteButton">Delete Comment</button>
                </form>
            </div>
            {{/comments}}
            {{^comments}}
            <div class="commentContainer">
                <p id="noCommentsMessage">
                    Sorry but there are no comments at this time.
                </p>
            </div>
            {{/comments}}
        </div>
        <script src="./../../../js/post_comments.js"></script>
    </body>
</html>
