<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>BCCA Job Postings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/main.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/home_page.css"
        />
    </head>
    <body>
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/post_job">Post A Job</a>
            </li>
        </ul>
        <div id="headerBkgImg" class="fill">
            <span class="center-spacer"></span>
            <img id="headerImg" src="/images/bcca_logo.png" />
        </div>
        <div id="selectionContainer">
            <input type="search" placeholder="Search..." id="searchBar" />
            <form method="POST" action="/home">
                <select
                    id="filterSelect"
                    name="filter_choice"
                    onchange="this.form.submit()"
                >
                    <option selected>Select a Filter</option>
                    <option name="filter_choice" value="az">A-Z</option>
                    <option name="filter_choice" value="za">Z-A</option>
                    <option name="filter_choice" value="">Newest First</option>
                    <option name="filter_choice" value="oldest"
                        >Oldest First</option
                    >
                </select>
            </form>
        </div>
        <div id="totalPostsContainer">
            {{#posts}}
            <a class="postDivLink" href="/posts/{{ id }}">
                <div class="postContainer">
                    <div id="imageContainer">
                        <img class="postImage" src="{{ image_url }}" />
                    </div>
                    <div class="postInfoContainer">
                        <p class="postCompanyName">{{ company_name }}</p>
                        <p class="postPosition">{{ position }}</p>
                        <p class="postedDate">Posted: {{ posted_date }}</p>
                    </div>
                    <p class="postId hidden">{{ id }}</p>
                </div>
            </a>
            {{/posts}}
        </div>
        {{^posts}}
        <p id="noDataMessage">*No Jobs Posts Available At This Time.</p>
        {{/posts}}
        <script src="./../js/home_page.js"></script>
    </body>
</html>
