<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Post Job Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/main.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/position_form_page.css"
        />
    </head>
    <body>
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
        </ul>
        <div id="headerBkgImg"></div>
        <div id="formContainer">
            <form method="POST" action="/post_job">
                <div class="inputContainer">
                    <p>Company Name:</p>
                    <input
                        placeholder="Ex: Job Search Co."
                        type="text"
                        name="company_name"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Company Address:</p>
                    <input
                        placeholder="Ex: 123 First St."
                        type="text"
                        name="company_address"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Contact Number:</p>
                    <input
                        placeholder="Ex: 123-123-1234"
                        type="tel"
                        name="company_phone"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Contact Email:</p>
                    <input
                        placeholder="Ex: company@email.com"
                        type="email"
                        name="company_email"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Position Name:</p>
                    <input
                        placeholder="Ex: Engineer"
                        type="text"
                        name="position"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Description of the Job:</p>
                    <input
                        placeholder="Ex: You will be expected..."
                        type="text"
                        name="position_details"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Benefits:</p>
                    <input
                        placeholder="Ex: This job comes with..."
                        type="text"
                        name="position_benefits"
                        required
                    />
                </div>
                <div class="inputContainer">
                    <p>Logo / Image URL:</p>
                    <input
                        placeholder="Ex: Image URL or N/A"
                        type="text"
                        name="image_url"
                        required
                    />
                </div>
                <button id="formSubmitBtn" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
