<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Post Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./../css/main.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./../css/post_detail_page.css"
        />
    </head>
    <body>
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
        </ul>
        <div id="postDetailContainer">
            {{#post}}
            <div class="postHeaderContainer">
                <div id="imageContainer">
                    <img class="postImage" onerror="image_error(this.id)" src="{{ image_url }}" />
                </div>
                <p id="companyName">{{ company_name }}</p>
            </div>
            <div class="postContactContainer">
                <p>Company Email: {{ company_email }}</p>
                <p>Phone Number: {{ company_phone }}</p>
                <p>Address: {{ company_address }}</p>
            </div>
            <div class="positionContainer">
                    <p id="positionName">{{ position }}</p>
                    <div class="positionParaContainer">
                            <p class="paraTitle">Description:</p>
                            <p class="paraBody">{{ position_details }}</p>
                    </div>
                    <div class="positionParaContainer">
                            <p class="paraTitle">Benefits:</p>
                            <p class="paraBody">{{ position_benefits }}</p>
                    </div>
                    <div class="positionParaContainer">
                            <p class="paraTitle">Posted:</p>
                            <p class="paraBody">{{ posted_date }}</p>
                    </div>
                    <a id="commentsLink" href="/posts/{{ id }}/comments"
                >See Comments</a
            >
            </div>
            {{/post}}
            <script>
                function testAllImages() {
                    const images = document.querySelectorAll(".postImage");
                    for (var img of images) {
                    img.onerror = function() {
                        img.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdeZlHaWbBEi-bgPLa5lUErA1keHW4D8dxnaCfkAIEuxQQ3VLO";};
                    }
                }
                testAllImages();
            </script>
    </body>
</html>
